

body {
    height: 300vh;
    width: 300vw;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: space-between;
    overflow: hidden;
}
textarea {
    overflow: hidden;
  width: 150px;
  height: 20px;
  background-color: hotpink;
}
button {
    background-color: yellow;
}

label.userpassword {
    background-color: burlywood;
}